* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

html, body, form {
    padding: 0px;
    margin: 0px;
}

body {  
    overflow-y: hidden;
}
div#first-cloud{
    float: left;
}

div#first-cloud > img{
    width: 80%;
    z-index: 20;
}
div#second-cloud{
    float: right;
    text-align: right;
    padding-top: 50vh;
}
div#second-cloud > img{    
width: 70%;
z-index: 10;

}

div#sun {
    float: right;
    text-align: right;
    margin-top: 0px;
}

div#sun > img{
    width: 50%;
    z-index: 0;
}

div#weatherDesc{
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 45%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 1000;  
}